/* Write your CSS here */
.team-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff33;
  border: 1px solid white;
  border-radius: 15px;
  margin: 15px;
  padding: 15px;
  width: 450px;
  height: 200px;
  color: white;
  text-decoration: none;
  text-align: center;
}
.team-logo {
  height: 120px;
  width: 100px;
  margin-right: 15px;
}
