/* Write your CSS here */
.team-details-con {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  font-family: Bree Serif;
  padding: 30px;
  color: white;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.recent-matches-con {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: center;
  align-items: center;
}
.RCB {
  background-image: linear-gradient(#a4261d, #1e293b);
}
.KKR {
  background-image: linear-gradient(#5755a7, #1e293b);
}
.KXP {
  background-image: linear-gradient(#a4261d, #da237b);
}
.CSK {
  background-image: linear-gradient(#f7db00, #13418b);
}
.RR {
  background-image: linear-gradient(#5755a7, #13418b);
}
.MI {
  background-image: linear-gradient(#13418b, #1e293b);
}
.SRH {
  background-image: linear-gradient(#f26d22, #1e293b);
}
.DC {
  background-image: linear-gradient(#13418b, #4f5db0);
}
.team-banner {
  height: 300px;
}
